/* Base Styles */
:root {
    --primary-color: #2C0AA6;
    --secondary-color: #400FF2;
    --black-color: #000;
    --white-color: #FFF;
    --transparent-gray: rgba(217, 217, 217, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-dark {
    color: var(--black-color);
}

.text-light {
    color: var(--white-color);
}

.content {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: var(--primary-color);
}

.logo {
    font-size: 22px;
    color: var(--white-color);
}

.hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburguer .line1,
.hamburguer .line2,
.hamburguer .line3 {
    width: 28px;
    height: 2px;
    background-color: var(--white-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Styles for active state */
.hamburguer.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.active .line2 {
    opacity: 0;
}

.hamburguer.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow: auto;
    border-left: 1px solid var(--white-color);
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    display: block;
    padding: 15px;
    color: var(--white-color);
    text-align: center;
}

.sidebar a:hover {
    background-color: var(--secondary-color);
}

.close-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.close-btn .line1,
.close-btn .line2,
.close-btn .line3 {
    width: 28px;
    height: 2px;
    background-color: var(--white-color);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.close-btn.active .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.close-btn.active .line2 {
    opacity: 0;
}

.close-btn.active .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.page-name {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* HOME */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.welcome-user {
    color: var(--secondary-color);
}

.main-nav {
    margin: 40px 0;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.main-nav ul li {
    width: 225px;
    text-align: center;
}

.main-nav ul li a {
    display: block;
    padding: 15px 20px;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--secondary-color);
}

/* AUTHETICATION */
.auth-form {
    display: flex;
    justify-content: center;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.auth-form form input {
    padding: 15px 20px;
    margin-bottom: 20px;
    outline: none;
    background-color: var(--transparent-gray);
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
}

.auth-form form button {
    cursor: pointer;
    margin: 25px 0;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    color: var(--white-color);
    background-color: var(--secondary-color);
}

.auth-message {
    display: flex;
    justify-content: center;
}

.auth-message a {
    color: var(--secondary-color);
}

/* EXAMS & EXAM*/
.search-bar {
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: var(--transparent-gray);
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
}

.search-bar input {
    width: 100%;
    margin-left: 10px;
    outline: none;
    background-color: transparent;
    border: none;
}

.exams-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .exams-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.exam-card {
    background-color: var(--secondary-color); /* Fundo com a cor secundária */
    color: var(--white-color); /* Texto branco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-decoration: none; /* Remove sublinhado do link */
    display: block; /* Garante que o link ocupe todo o card */
    transition: transform 0.2s; /* Animação de hover */
}

.exam-card:hover {
    transform: translateY(-5px); /* Efeito de elevação no hover */
}

.exam-card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.exam-card .exam-details {
    font-size: 0.9em;
    margin: 5px 0;
}

.exam-card .exam-details span {
    font-weight: bold;
}

/* Página de Detalhes do Exame */
.exam-header {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.exam-header p {
    margin: 5px 0;
    font-size: 1.2em;
}

.exam-questions {
    margin-top: 20px;
}

.exam-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question {
    padding: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

.question h3 {
    margin-bottom: 10px;
}

.question ul {
    list-style-type: none;
    padding: 0;
}

.question ul li {
    margin-bottom: 10px;
}

.question input[type="radio"] {
    margin-right: 10px;
}

.question label {
    font-size: 1em;
}

.submit-button {
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--primary-color)
}
