<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Adding the font Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="logo text-light">Django-Online-Exams</a>
            <!-- <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
                <li><a href="{% url 'contact' %}">Contato</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </div> -->
    </nav>

    <!-- Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
