{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">Edit a Choice</h1>
    <div class="crud-form">
        <form action="">
            <select name="question" id="" required>
                <option value="" disabled selected>Select a Question:</option>
                <option value="Question 1">Question 1</option>
                <option value="Question 2">Question 2</option>
            </select>
            <input type="text" name="question-text" placeholder="Enter a text:" required>
            <div class="correct-checkbox">
                <label for="is-correct">Correct</label>
                <input type="checkbox" name="correct" value="yes" id="is-correct">
            </div>

            <div class="edit-or-delete">
                <a href="#"><img src="{% static 'images/trash.svg' %}" alt="delete"></a>
                <button type="submit"><img src="{% static 'images/pencil.svg' %}" alt="confirm edit"></button>
            </div>
        </form>
    </div>
</div>    
{% endblock content %}