{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">Feedback</h1>

    <div class="exam-questions">
        <div class="question correct">
            <h3>Question 1: What is the boiling point of water?</h3>
            <ul>
                <li><input type="radio" name="question1" id="q1a1" value="100°C"> <label for="q1a1">100°C</label><img src="{% static 'images/correct-choice.svg' %}" alt="correct-choice"></li>
                <li><input type="radio" name="question1" id="q1a2" value="50°C"> <label for="q1a2">50°C</label></li>
                <li><input type="radio" name="question1" id="q1a3" value="0°C"> <label for="q1a3">0°C</label></li>
                <li><input type="radio" name="question1" id="q1a4" value="150°C"> <label for="q1a4">150°C</label></li>
            </ul>
        </div>
        
        <div class="question incorrect">
            <h3>Question 2: What is the chemical symbol for water?</h3>
            <ul>
                <li><input type="radio" name="question2" id="q2a1" value="O"> <label for="q2a1">O</label></li>
                <li><input type="radio" name="question2" id="q2a2" value="H"> <label for="q2a2">H</label></li>
                <li><input type="radio" name="question2" id="q2a3" value="HO"> <label for="q2a3">HO</label></li>
                <li><input type="radio" name="question2" id="q2a4" value="H2O"> <label for="q2a4">H2O</label><img src="{% static 'images/correct-choice.svg' %}" alt="correct-choice"></li>
            </ul>
        </div>
    </div>

    <div class="button-to-home">
        <a href="{% url 'home' %}"><img src="{% static 'images/button-to-home.svg' %}" alt=""></a>
    </div>
</div>
{% endblock content %}
