{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">Home</h1>
    <div class="profile">
        <a href="{% url 'login' %}"><img src="{% static 'images/profile.svg' %}" alt=""></a>
        <span>Hello, <span class="welcome-user">visitor</span>!</span>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{% url 'exams' %}">Exams</a></li>
            <li><a href="{% url 'my-exams' %}">My Exams</a></li>
            <li><a href="create-exam.html">Create an Exam</a></li>
            <li><a href="create-question.html">Create a Question</a></li>
            <li><a href="create-choice.html">Create a Choice</a></li>
        </ul>
    </nav>
</div>
{% endblock content %}
