{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">Login</h1>
    <div class="auth-form">
        <form action="" method="post">
            <input type="text" placeholder="Enter your name or email:">
            <input type="password" placeholder="Enter your password:">
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="auth-message">
        <span>Dont have a account? <a href="{% url 'sign-up' %}">Sign-up</a></span>
    </div>
</div>
{% endblock content %}
