{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">My Exams</h1>
    <form class="search-bar" method="get">
        <img src="{% static 'images/search-icon.svg' %}" alt="search icon">
        <input type="text" placeholder="Enter an title, theme or user" name="query">
    </form>
    <div class="exams-grid">
        {% for exam in exams %}
            <a href="{% url 'my-exam' exam.id %}" class="exam-card">
                <h2>{{ exam.title }}</h2>
                <p class="exam-details"><span>Theme:</span> {{ exam.theme.title }}</p>
                <p class="exam-details"><span>User:</span> {{ exam.moderator.user.username }}</p>
                <p class="exam-details"><span>Submission:</span> {{ exam.how_many_submissions }}</p>
                <p class="exam-details"><span>Questions:</span> {{ exam.question_set.count }}</p>
                <p class="exam-details"><span>Date:</span> {{ exam.date_created }}</p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}