{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content">
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}
    <h1 class="page-name">Sign-up</h1>
    <div class="auth-form">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter your username:" name="username">
            <input type="text" placeholder="Enter your email:" name="email">
            <input type="password" placeholder="Enter your password:" name="password">
            <input type="password" placeholder="Confirm your password:" name="confirm-password">
            <button type="submit">Sign-up</button>
        </form>
    </div>
    <div class="auth-message">
        <span>Have a account? <a href="{% url 'login' %}">Login</a></span>
    </div>
</div>
{% endblock content %}